html {
    font-size: 10px;
}

body {
    background: rgb(29,16,99);
    background: radial-gradient(circle, rgba(29,16,99,0.6250875350140056) 13%, rgba(17,17,60,0.6110819327731092) 56%);
    margin: 0;
}
#title,h1 {
    width: 1025px;
    margin: 10px auto 10px auto;
    font-size: 3rem;
    text-align: center;
}





/* SECTION BATTLEGROUND AND ENEMY */
#battle {
    background-image: url(./map/4a.png);
    width: 1025px;
    height: 576px;
    margin: 0 auto 0 auto;
    cursor: crosshair;
    border: solid #008E9B 2px;
    -webkit-box-shadow: -1px -5px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: -1px -5px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: -1px -5px 24px 0px rgba(66, 68, 90, 1);
}

.enemys1 img {
    width: 100%;
}

.enemy1 {
    grid-area: enemy1;
}
.enemy2 {
    grid-area: enemy2;
}
.enemy3 {
    grid-area: enemy3;
}
.enemy4 {
    grid-area: enemy4;
}
.go img:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.go {
    grid-area: go;
}

.enemys1 {
    display: grid;
    grid-template-columns: repeat(20, 50px);
    grid-template-rows: repeat(11, 50px);
    grid-template-areas:
". . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . ."
". . . . . enemy1 . . . . . . . . . enemy4 . . . ."
". . . . . enemy1 . . . . . . enemy3 . . enemy4 . . . ."
". . . . . . . . . enemy2 . . . . go . . . . ."
". . . . . . . . . enemy2 . . . . go . . . . ."
}





/* SECTION UI */
#healthAmmo{
    margin: 10px auto 0 auto;
    width: 1025px;
    height: 144px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #2a1e1e 2px;
    background-color: #008E9B;
    font-size: 10rem;
}
#healthAmmo img {
    display: flex;
    justify-content: center;
    width: 90px;
    height: 90px;
}
#killsAmmout {
    color: rgba(255, 0, 0, 0.6);
}




/* SECTION FOOTER */
#downSite {
    margin: 10px auto 0 auto;
    width: 1025px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#downSite button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
    --c:  #229091; /* the color*/
  
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
#downSite button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
#downSite button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}
#timer {
    font-size: 5rem;
}



footer {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    display: flex;
    margin: 10px auto 0 auto;
    width: 1025px;
    display: flex;
    justify-content: flex-end;
}
